/**************************/
/*** COMPETENCES STYLES ***/
/**************************/

/* Compétences */

.competences-content table{
    width: 100%;
}
.competences-content th{
    text-align: left;
}
.competences-content .first th{
    font-family: Montserrat;
    font-size: .9rem;
    color: #171717;
    text-transform: uppercase;
    letter-spacing: .1rem;
}
.competences-content tr:not(.first) th {
    color: #10c9c3;
    font-weight: bold;
}
.competences-content th,
.competences-content td {
    padding: 1.15rem;
}
.competences-content tr {
    border-bottom: .05rem solid #787878;
}
.competences-content tr:last-of-type {
    border:0;
}
.competences-content tr th:nth-of-type(1),
.competences-content tr th:nth-of-type(2),
.competences-content tr td:nth-of-type(1) {
    border-right: .05rem solid #787878;
}

.competences-content .blue-star,
.competences-content .grey-star {
    width: 21px;
    height: 21px;
    margin-right: 4px;
    display: inline-block;
}
.competences-content .grey-star {
    background-image: url(../images/competences/grey-star.png);
}
.competences-content .blue-star {
    background-image: url(../images/competences/blue-star.png);
}

/**********************/
/*** CONTACT STYLES ***/
/**********************/

/* Form */

.contact-content input,
.contact-content textarea {
    width: 100%;
    border: 0;
    padding: 1rem;
    margin-bottom: 1rem;
    font-family: Nunito;
    font-size: 1rem;
    color: #787878;
}

.contact-content fieldset {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    column-gap: 1rem;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
}

.contact-content input[type=submit]{
    color: white;
    width: auto;
    display: inline-block;
    cursor: pointer;
}

/* Coordonnées */

.contact-content ul {
    list-style: none;
    columns: 2;
}

.contact-content li {
    line-height: 1.75;
}

/* Map */

.contact-content .map{
    width: 100%;
    height: 20rem;
}

/*********************/
/*** PROJET STYLES ***/
/*********************/

.project-content .glide {
    margin-bottom: 1.5rem;
    z-index: 1;
}

.project-content .glide__slide{
    flex:1;
}